body{
background-color: darkgreen
}

h1{
color:white;
margin-left: 5%;
}

.coolio{
padding:2% 2% 2% 2%;
background-color:green;
font-size:25px;
color:orange;
font-family:fantasy;
font-style:normal;